{
	"presets": [
		"@babel/typescript",
		[
			"@babel/env",
			{
				"targets": {
					"node": "current"
				},
				"exclude": ["transform-regenerator"],
				"shippedProposals": true
			}
		]
	],
	"plugins": ["module:fast-async"]
}
