{
	"presets": [
		[
			"@babel/env",
			{
				"exclude": ["transform-regenerator"],
				"loose": true,
				"modules": false,
				"shippedProposals": true
			}
		]
	],
	"plugins": ["module:fast-async"]
}
