{
	"presets": [
		"@babel/typescript",
		[
			"@babel/env",
			{
				"loose": true,
				"exclude": ["transform-regenerator"],
				"shippedProposals": true
			}
		]
	],
	"plugins": [
		"module:fast-async",
		[
			"module-resolver",
			{
				"root": ["./src"],
				"alias": {
					"config": "./config",
					"dbAuth": "./dbAuth",
					"sessionAdapters": "./sessionAdapters"
				}
			}
		]
	]
}
