{
	"rules": {
		"camelcase": "off",
		"no-param-reassign": "off",
		"no-console": "off",
		"no-underscore-dangle": "off",
		"prefer-promise-reject-errors": "off"
	},
	"extends": ["airbnb-base", "prettier"]
}
